
.rtl {
    direction: rtl;
    font: 13px/20px tahoma;
    text-align: right;
}
* {
    outline: medium none !important;
}
a {
    text-decoration: none !important;
}
a, p.no-comments, .post-meta li.post-date a:hover span, .post-meta .post-edit-link:hover, .pagination ul > li > a:active, #wp-calendar td a, #infinite-handle span:hover, .comment-awaiting-moderation {
    color: #3ABEC0;
}
.btn-search, .btn-search:active, .patlan-navbar .nav li li a:hover, .patlan-navbar .current_page_item > a, .patlan-navbar .current-menu-item > a, .patlan-navbar .current_page_ancestor > a, .patlan-navbar .current-menu-ancestor > a, article.format-link .article-content a, article.format-link .article-content a:hover, article.format-link .article-content a:focus, .pagination ul > li > a:hover, .pagination ul > li > a:focus, .posts-paginate .posts-nav-wraper a:hover, #wp-calendar td a:hover, #infinite-handle span, .infinite-loader div > div > div, .thumbnail-wraper .carousel-indicators li.active, .thumbnail-wraper .carousel-indicators li a:hover, .carousel-wrap-controler .carousel-controler, .bypostauthor .comment-metadata, .comment-edit-link {
    background: none repeat scroll 0 0 #3ABEC0 !important;
}
a:hover, a:focus {
    color: #858585;
}
body {
    background: url("../images/bg-pattern.png") repeat scroll 0 0 #EEEEEE;
    color: #858585;
}
.icon-white {
    color: white;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}
.rtl ins, .rtl u, .rtl [style*="text-decoration"] {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    text-decoration: none !important;
}
.post-wrap p, .comments-section p {
    font-family: tahoma;
    font-size: 0.9rem;
    line-height: 28px;
}
.rtl .post-wrap p {
    text-align: justify;
}
table td {
    padding: 3px 5px;
}
.post-edit-link, .post .post-title a, .patlan-navbar .nav li a {
    border: medium none !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #1F1F1F;
    text-align: left;
}
[lang="fa-IR"] h1, [lang="fa-IR"] h2, [lang="fa-IR"] h3, [lang="fa-IR"] h4, [lang="fa-IR"] h5, [lang="fa-IR"] h6, [lang="ar"] h1, [lang="ar"] h2, [lang="ar"] h3, [lang="ar"] h4, [lang="ar"] h5, [lang="ar"] h6 {
    font-family: Yekan,Arial;
    text-align: right;
}
h1 {
    font-size: 28px;
    line-height: 33px;
}
h2 {
    font-size: 24px;
    line-height: 28px;
}
h3 {
    font-size: 22px;
    line-height: 30px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 13px;
}
.rtl h6 {
    font-size: 16px;
}
hr {
    clear: both;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    border-style: solid;
    border-width: 4px 1px 1px 4px;
    color: #BBBBBB;
}
.rtl input[class*="span"], .rtl select[class*="span"], .rtl textarea[class*="span"], .rtl .uneditable-input[class*="span"], .rtl .row-fluid input[class*="span"], .rtl .row-fluid select[class*="span"], .rtl .row-fluid textarea[class*="span"], .rtl .row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-right: 0;
}
.footer input[type="text"], .footer input[type="email"], .footer input[type="url"], .footer input[type="password"], .footer textarea {
    background-color: #4F4F4F;
    border-color: #404040;
    color: #909090;
}
.footer input[type="text"]:focus, .footer input[type="email"]:focus, .footer input[type="url"]:focus, .footer input[type="password"]:focus, .footer textarea:focus {
    background-color: #6F6F6F;
    border-color: #606060 !important;
    box-shadow: 0 0 0 transparent !important;
    color: #909090;
}
.footer .btn-search {
    color: #4F4F4F;
}
.footer .btn-search:hover {
    background-color: #303030;
}
.rtl input[type="text"], .rtl input[type="password"], .rtl textarea {
    font-family: tahoma,sans-serif;
    font-size: 13px;
}
.table-cell {
    display: table-cell !important;
    vertical-align: middle;
}
.table-row {
    display: table-row !important;
}
.btn-search:hover, .btn-search:focus {
    border-color: transparent;
    color: white;
}
.btn-column .btn-search {
    border: medium none;
    border-radius: 0 0 0 0 !important;
    font-size: 23px;
    height: 38px;
    width: 100%;
}
.btn-search, .btn-search:active {
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    color: #3F3F3F;
    text-shadow: none;
}
select {
    border-radius: 0 0 0 0;
}
.rtl select {
    font: 13px/16px tahoma,arial;
}
#searchsubmit {
    display: none;
}
input[type="text"], input[type="password"], input[type="url"], input[type="email"], textarea {
    background-color: #F7F7F7;
    height: 25px;
}
input[type="text"]:focus, textarea:focus, input[type="password"]:focus, input[type="url"]:focus, input[type="email"]:focus {
    background-color: #FCFCFC;
    border-color: #AAAAAA;
    box-shadow: none;
    color: #5F5F5F;
}
.add-on {
    padding: 8px 10px !important;
}
.btn {
    padding: 8px 15px;
}
.rtl ul, .rtl ol {
    margin: 0 25px 10px 0;
    padding: 0;
}
.btn-mini {
    padding: 2px 8px;
}
.btn-small {
    padding: 4px 10px;
}
.btn-large {
    padding: 15px 22px;
}
[lang="fa-IR"] .btn, [lang="ar"] .btn {
    font-family: Yekan,arial;
}
blockquote {
    background-color: #F9F9F9;
    border-bottom: 1px solid #EEEEEE;
    border-left: medium none;
    border-top: 1px solid #EEEEEE;
    color: #5A5A5A;
    margin: 10px 0;
    padding: 14px 7%;
    position: relative;
    text-align: justify;
}
[lang="fa-IR"] blockquote, [lang="ar"] blockquote {
    font: 16px/22px Yekan,Arial;
}
blockquote:before, blockquote:after {
    color: #5A5A5A;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 27px;
    position: absolute;
}
blockquote:before {
    content: "";
    left: 2%;
    top: 6px;
}
blockquote:after {
    bottom: 6px;
    content: "";
    left: inherit;
    right: 2%;
}
.rtl blockquote:after {
    content: "";
    left: 2%;
    right: inherit;
}
.rtl blockquote:before {
    content: "";
    right: 2%;
}
[lang="fa-IR"] blockquote p, [lang="ar"] blockquote p {
    font: 16px/22px Yekan,Arial;
}
cite {
    border-bottom: 1px dashed #858585;
}
.rtl table th {
    direction: rtl;
    text-align: right;
}
.rtl dl dd {
    margin-left: 40px;
    margin-right: 0;
}
pre, code {
    direction: ltr;
    text-align: left;
}
p code {
    display: inline-block;
    line-height: 22px;
    padding: 0 5px !important;
    white-space: pre-wrap;
}
pre {
    color: #5F5F5F;
    position: relative;
}
q:before, q:after {
    content: "\"";
    font-size: 15px;
    padding: 0 2px;
}
.logo, .header-widget {
    padding-right: 20px;
    text-align: right;
}
.logo h1 a {
    border-bottom: medium none !important;
}
[class*="wp-image-"] {
    width: 100%;
}
.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}
.alignright {
    float: right;
    margin: 0 0 15px 15px;
}
.alignleft img, .alignright img {
    height: inherit !important;
}
.aligncenter, .alignnone {
    clear: both !important;
    margin: 0 auto;
}
.post-thumbnail [class*="wp-image-"] {
    margin-bottom: 0;
}
.wp-caption a {
    display: block;
}
.wp-caption {
    background-color: #EEEEEE;
    height: auto !important;
    text-align: center;
    width: 100% !important;
}
.patlan-caption {
    background-color: transparent;
}
.wp-caption a:hover {
    border: medium none;
    padding: 0;
}
.wp-caption img {
    margin: 0;
}
.wp-caption .wp-caption-text {
    display: block;
    font-size: 11px !important;
    line-height: 16px !important;
    margin-bottom: 0;
    min-height: 21px;
    padding: 5px 0;
    text-align: center !important;
    vertical-align: bottom;
}
.wp-caption-text a {
    display: inline;
}
.rtl .row {
    margin-left: 20px;
    margin-right: -20px;
}
.rtl [class*="span"] {
    float: right;
    margin-left: 0;
    margin-right: 20px;
}
.rtl [class*="span"]:first-child {
    margin-right: 0 !important;
}
.rtl .row-fluid [class*="span"] {
    float: right;
    margin-left: 0;
    margin-right: 2.12766%;
}
.rtl .offset16 {
    margin-left: 0;
    margin-right: 980px;
}
.rtl .offset15 {
    margin-left: 0;
    margin-right: 920px;
}
.rtl .offset14 {
    margin-left: 0;
    margin-right: 860px;
}
.rtl .offset13 {
    margin-left: 0;
    margin-right: 800px;
}
.rtl .offset12 {
    margin-left: 0;
    margin-right: 740px;
}
.rtl .offset11 {
    margin-left: 0;
    margin-right: 680px;
}
.rtl .offset10 {
    margin-left: 0;
    margin-right: 620px;
}
.rtl .offset9 {
    margin-left: 0;
    margin-right: 560px;
}
.rtl .offset8 {
    margin-left: 0;
    margin-right: 500px;
}
.rtl .offset7 {
    margin-left: 0;
    margin-right: 440px;
}
.rtl .offset6 {
    margin-left: 0;
    margin-right: 380px;
}
.rtl .offset5 {
    margin-left: 0;
    margin-right: 320px;
}
.rtl .offset4 {
    margin-left: 0;
    margin-right: 260px;
}
.rtl .offset3 {
    margin-left: 0;
    margin-right: 200px;
}
.rtl .offset2 {
    margin-left: 0;
    margin-right: 140px;
}
.rtl .offset1 {
    margin-left: 0;
    margin-right: 80px;
}
.row-fluid [class*="span"]:first-child {
    margin-right: 0;
}
.rtl .row-fluid .offset16 {
    margin-left: 0;
    margin-right: 104.255%;
}
.rtl .row-fluid .offset16:first-child {
    margin-left: 0;
    margin-right: 102.128%;
}
.rtl .row-fluid .offset15 {
    margin-left: 0;
    margin-right: 97.8723%;
}
.rtl .row-fluid .offset15:first-child {
    margin-left: 0;
    margin-right: 95.7447%;
}
.rtl .row-fluid .offset14 {
    margin-left: 0;
    margin-right: 91.4894%;
}
.rtl .row-fluid .offset14:first-child {
    margin-left: 0;
    margin-right: 89.3617%;
}
.rtl .row-fluid .offset13 {
    margin-left: 0;
    margin-right: 85.1064%;
}
.rtl .row-fluid .offset13:first-child {
    margin-left: 0;
    margin-right: 82.9787%;
}
.rtl .row-fluid .offset12 {
    margin-left: 0;
    margin-right: 78.7234%;
}
.rtl .row-fluid .offset12:first-child {
    margin-left: 0;
    margin-right: 76.5957%;
}
.rtl .row-fluid .offset11 {
    margin-left: 0;
    margin-right: 72.3404%;
}
.rtl .row-fluid .offset11:first-child {
    margin-left: 0;
    margin-right: 70.2128%;
}
.rtl .row-fluid .offset10 {
    margin-left: 0;
    margin-right: 65.9574%;
}
.rtl .row-fluid .offset10:first-child {
    margin-left: 0;
    margin-right: 63.8298%;
}
.rtl .row-fluid .offset9 {
    margin-left: 0;
    margin-right: 59.5745%;
}
.rtl .row-fluid .offset9:first-child {
    margin-left: 0;
    margin-right: 57.4468%;
}
.rtl .row-fluid .offset8 {
    margin-left: 0;
    margin-right: 53.1915%;
}
.rtl .row-fluid .offset8:first-child {
    margin-left: 0;
    margin-right: 51.0638%;
}
.rtl .row-fluid .offset7 {
    margin-left: 0;
    margin-right: 46.8085%;
}
.rtl .row-fluid .offset7:first-child {
    margin-left: 0;
    margin-right: 44.6809%;
}
.rtl .row-fluid .offset6 {
    margin-left: 0;
    margin-right: 40.4255%;
}
.rtl .row-fluid .offset6:first-child {
    margin-left: 0;
    margin-right: 38.2979%;
}
.rtl .row-fluid .offset5 {
    margin-left: 0;
    margin-right: 34.0426%;
}
.rtl .row-fluid .offset5:first-child {
    margin-left: 0;
    margin-right: 31.9149%;
}
.rtl .row-fluid .offset4 {
    margin-left: 0;
    margin-right: 27.6596%;
}
.rtl .row-fluid .offset4:first-child {
    margin-left: 0;
    margin-right: 25.5319%;
}
.rtl .row-fluid .offset3 {
    margin-left: 0;
    margin-right: 21.2766%;
}
.rtl .row-fluid .offset3:first-child {
    margin-left: 0;
    margin-right: 19.1489%;
}
.rtl .row-fluid .offset2 {
    margin-left: 0;
    margin-right: 14.8936%;
}
.rtl .row-fluid .offset2:first-child {
    margin-left: 0;
    margin-right: 12.766%;
}
.rtl .row-fluid .offset1 {
    margin-left: 0;
    margin-right: 8.51064%;
}
.rtl .row-fluid .offset1:first-child {
    margin-left: 0;
    margin-right: 6.38298%;
}

.rtl .row {
    margin-left: 0;
    margin-right: 0;
}
.rtl .row {
    margin-right: -10px;
}
.rtl .row-fluid [class*="span"] {
    float: right;
    margin-right: 1.37741%;
}
.rtl .row-fluid [class*="span"]:first-child {
    margin-right: 0;
}
.navbar-inner {
    background: none repeat scroll 0 0 #1F1F1F !important;
    border: medium none;
    border-radius: 0 0 0 0;
    margin-top: 10px;
}
.patlan-navbar .nav {
    background-color: #1B1B1B;
}
.patlan-navbar .nav ul {
    list-style: none outside none;
}
.patlan-navbar .nav li {
    position: relative;
}
.patlan-navbar .nav > li {
    min-width: 100px;
    text-align: center;
}
.patlan-navbar .nav li a {
    border: medium none !important;
    color: #999999;
    display: block;
    overflow: hidden;
    padding: 17px 10px;
    text-shadow: 0 0 0;
}
.patlan-navbar .nav > li li {
    border-top: 1px solid #3F3F3F;
    text-align: left;
}
.patlan-navbar .nav > li li:first-child {
    border: medium none;
}
.rtl .patlan-navbar .nav > li li {
    text-align: right;
}
.patlan-navbar .nav > li li a {
    padding: 9px 15px;
}
.patlan-navbar .nav li li a:hover, .patlan-navbar .current_page_item > a, .patlan-navbar .current-menu-item > a, .patlan-navbar .current_page_ancestor > a, .patlan-navbar .current-menu-ancestor > a {
    color: #1B1B1B !important;
}
.patlan-navbar li a i {
    float: right;
    line-height: 20px;
    margin-left: 10px;
}
.rtl .patlan-navbar li a i {
    float: left;
    margin-right: 10px;
}
.rtl .content-section ul, .rtl .content-section ol {
    direction: rtl;
    list-style-position: inside;
}
.rtl .patlan-navbar .nav li ul {
    margin-right: 0;
}
.patlan-navbar .nav li ul {
    margin-left: 0;
}
.main {
}
.rtl .breadcrumb {
    direction: rtl;
}
.breadcrumb {
    background-color: transparent;
    border-radius: 0 0 0 0;
    margin-bottom: 10px;
}
.page .content-section {
    background-color: white;
}
article.hentry, .no-results {
    background-color: white;
    border-left: 1px solid #DDDDDD;
    margin-top: 15px;
    overflow: hidden;
}
.format-chat p:nth-child(2n+1) {
    background-color: #FAFAFA;
    padding: 0 5px;
}
article.hentry .post-thumbnail {
    background-color: #1F1F1F;
}
.page .hentry {
    border: medium none;
}
article.hentry .post-thumbnail .thumbnail-wraper {
    margin: 0 auto;
}
.thumbnail-wraper .carousel {
    margin-bottom: 0;
}
article.hentry .post-thumbnail img {
    width: auto !important;
}
.rtl .content-section article.hentry {
    border-left: medium none;
    border-right: 1px solid #DDDDDD;
}
.content-section article.hentry:first-child, article.no-results {
    margin-top: 0;
}
article.format-status {
}
article.format-status .post-author {
    display: table;
    height: 68px;
    margin-top: 10px;
    padding: 0 3%;
    vertical-align: middle;
    width: 94%;
}
article.format-status .post-author .post-title {
    border: medium none;
    opacity: 0.59;
    padding-bottom: 0;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
}
.rtl article.format-status .post-author .post-title {
    text-align: right;
}
.post-author .table-cell {
    vertical-align: top;
}
.post-wrap {
    border-bottom: 3px solid #1F1F1F;
    direction: rtl;
    display: table;
    position: relative;
    table-layout: fixed !important;
    width: 100%;
}
.single .post-wrap, .no-results .post-wrap {
    direction: ltr;
}
.rtl .single .post-wrap, .rtl .no-results .post-wrap {
    direction: rtl;
}
.rtl .post-wrap {
    direction: ltr;
}
article.format-status .post-author .author-avatar img {
    border-radius: 25px 25px 25px 25px;
    display: inline-block;
    margin-top: 7px;
}
.format-link h1 {
    line-height: 46px;
}
.format-link h2 {
    line-height: 40px;
}
.format-link h3 {
    line-height: 37px;
}
.format-link h4 {
    line-height: 34px;
}
.format-link h5 {
    line-height: 31px;
}
.format-link h6 {
    line-height: 28px;
}
article.format-link .article-content a {
    border: medium none;
    color: #1F1F1F;
    padding: 0 12px;
}
article.format-link .article-content p > a {
    padding: 5px 10px;
}
article.format-link .article-content a:hover, article.format-link .article-content a:focus {
    color: white;
}
.rtl .post-wrap {
    direction: ltr;
}
.post-meta {
    background-color: #1F1F1F;
    border-right: 5px solid #3ABEC0;
    display: table-cell;
    min-width: 77px;
    vertical-align: top;
    width: 77px;
}
.rtl .post-meta {
    border-left: 5px solid #3ABEC0;
    border-right: medium none;
}
article.hentry .post-content {
    direction: ltr;
    display: table-cell;
    padding-bottom: 5px;
    text-align: justify;
    width: 100% !important;
}
.single .post-content, .page .post-content {
    padding-bottom: 30px !important;
}
.post-meta ul li div.table-cell {
    border-top: 1px solid #4B4B4B;
    font-family: PrintClearly,Microsoft Yi Baiti,Arial;
    height: 67px;
    text-align: center;
    vertical-align: middle;
}
[lang="fa-IR"] .post-meta ul li div.table-cell, [lang="ar"] .post-meta ul li div.table-cell {
    font-family: Yekan,Arial;
}
article.hentry .post-categories {
    padding: 5px 3% 2px;
    position: relative;
}
article.hentry .post-categories i {
    margin-right: 5px;
}
article.hentry .post-categories > a {
    margin: 0 3px;
}
.rtl article.hentry .post-categories i {
    margin-left: 5px;
    margin-right: 0;
}
.post-meta ul li:first-child div.table-cell {
    border: medium none;
}
.post-meta ul li.post-date a {
    border: medium none;
    display: block;
}
.icon-caret-right, .icon-caret-left {
    font-size: 44px !important;
}
.arrow-icon {
    left: -30px;
    position: absolute;
    top: 18px;
    width: 0px;
    height: 0px;
    border-width: 15px;
    border-style: solid solid solid solid;
}
.left-arrow{
	border-color: transparent #1F1F1F transparent transparent;
}
.right-arrow {
    border-color: transparent transparent transparent #1F1F1F;
    left: 77px;
}
.post-month, .post-year, .post-comments-count {
    font-size: 18px;
}
div.table-cell span.post-day {
    display: inline-block;
    font-size: 55px;
    letter-spacing: -4px;
    padding: 16px 5px 15px 0;
}
[lang="fa-IR"] span.post-day, [lang="fa-IR"] span.post-year, [lang="fa-IR"] span.post-month, [lang="ar"] span.post-day, [lang="ar"] span.post-year, [lang="ar"] span.post-month {
    font-family: Yekan,Arial;
}
.rtl span.post-day {
    font-size: 48px !important;
    letter-spacing: -7px !important;
    padding-right: 11px !important;
    padding-top: 12px !important;
}
.post-meta li span, .post-meta li a, .post-meta li i {
    color: #BABABA;
}
.post-meta ul {
    direction: ltr !important;
    display: table;
    list-style: none outside none !important;
    margin: 0 !important;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.post-meta i[class*="icon-"] {
    font-size: 32px;
}
.post-meta i.icon-edit {
    color: inherit !important;
}
.post-meta .icon-caret-right {
    display: inline-block;
    font-size: 39px;
    margin-right: -45px;
    top: 14px;
}
.rtl article.hentry .post-content {
    direction: rtl;
}
.hentry .post-title, .no-results .post-title {
    border-bottom: 1px solid #EEEEEE;
    margin: 0 3%;
    opacity: 0.9;
    padding: 10px 0;
    word-spacing: -1px;
    word-wrap: break-word;
}
.hentry .post-title:empty {
    display: none;
}
.rtl .hentry .post-title, .rtl .no-results .post-title {
    text-align: right;
}
.no-results .post-title {
    border: medium none;
}
.hentry .post-title a:hover {
    color: #404040;
}
.sticky .icon-paperclip {
    font-size: 20px;
    padding: 0 2px;
}
.entry-meta {
    border-bottom: 1px solid #EEEEEE;
    display: inline-block;
    margin: 0 3%;
    padding: 0 5px;
    width: 92%;
}
.entry-meta ul, .entry-meta ol {
    margin: 0;
}
.rtl .entry-meta li {
    float: right !important;
    margin-left: 3%;
    margin-right: 0;
}
.entry-meta li {
    display: inline-block;
    float: left;
    font-family: tahoma,arial;
    font-size: 13px;
    margin-right: 3%;
    padding: 12px 0;
}
.entry-meta li span {
    color: #333333;
}
.entry-meta li:first-child {
}
.hentry .article-content, .no-results .article-content {
    margin: 3% 3% 0;
    min-height: 152px;
}
.logged-in .article-content {
    min-height: 221px;
}
.after-singlepost {
    display: table-row;
}
.after-singlepost > ul.post-tags {
    list-style: none outside none;
    margin: 0;
    padding: 15px 20px;
}
.after-singlepost > ul.post-tags li:first-child {
    margin: 0;
}
.after-singlepost > ul.post-tags .icon-tags {
    font-size: 16px;
    margin: 0 5px;
}
.after-singlepost > ul.post-tags li {
    display: inline-block;
    margin: 0 3px;
}
#searchform {
    direction: rtl;
}
.hentry [id*="twitter-widget-"] {
    border: 1px solid #EEEEEE !important;
    box-shadow: none !important;
    width: 100% !important;
}
#searchform .table-cell {
    vertical-align: top;
}
.format-status .article-content {
    margin-top: 0 !important;
}
article.hentry .mejs-container {
    margin-bottom: 15px;
}
.posts-paginate {
    direction: ltr;
    display: table;
    margin-top: 14px;
    text-align: center;
    width: 100%;
}
.posts-paginate .posts-nav-wraper {
    background: none repeat scroll 0 0 red;
    display: table-row;
}
.posts-paginate .posts-nav-wraper a {
    background-color: #1F1F1F;
    border-bottom: 2px solid #1F1F1F;
    color: #BABABA;
    display: table-cell;
    font-size: 19px;
    line-height: 40px;
    width: 50%;
}
[lang="fa-IR"] .posts-paginate .posts-nav-wraper a, [lang="ar"] .posts-paginate .posts-nav-wraper a {
    font-family: Yekan,Tahoma;
}
.rtl .posts-paginate .posts-nav-wraper a:first-child {
    border-right: medium none;
}
.pagination {
    text-align: center;
}
.wp-link-paginate {
    padding-left: 15px;
    text-align: left;
}
.rtl .wp-link-paginate {
    padding-left: 0;
    padding-right: 29px;
    text-align: right;
}
.wp-link-paginate ul {
    margin: 0;
}
.pagination .next, .pagination .prev {
    direction: ltr;
}
.pagination ul {
    box-shadow: 0 0 0 transparent;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus {
    border-color: transparent;
    color: white;
}
.pagination ul > li > a:active {
    background-color: white;
}
.posts-paginate .posts-nav-wraper .next {
    border-left: 1px solid #4B4B4B;
    display: block;
}
.posts-paginate .posts-nav-wraper .prev {
    display: block;
}
.prev i {
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.posts-paginate .posts-nav-wraper a:hover {
    color: #1F1F1F;
}
.next i {
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}

.sidebar-widgets, .header-widgets {
    list-style: none outside none;
    margin: 0 !important;
    overflow: hidden;
}
li.widget {
    margin: 0 0 15px;
    padding: 0;
}
li.widget a {
    border-bottom: 1px solid transparent;
}
li.widget ul li {
    line-height: 18px;
    list-style: none outside none;
    padding: 10px 15px;
}
.header-widgets li.widget ul li {
    border-top: medium none;
}
.footer-wraper li.widget > ul > li {
}
li.widget ul li a {
    font-size: 14px;
}
li.widget ul ul {
    display: none;
}
li.widget > ul > li li, .widget_nav_menu .menu > li li {
    line-height: 24px;
    list-style-position: inside;
    list-style-type: circle;
}
li.widget > ul > li ul, .widget_nav_menu .sub-menu {
    padding-left: 23px;
}
.rtl li.widget > ul > li ul, .rtl .widget_nav_menu .sub-menu {
    padding-left: 0;
    padding-right: 23px;
}
li.widget li:first-child {
}
.widget_recent_entries a, .widget_rss > ul > li .rsswidget {
    display: block;
}
.widget .rss-date, .widget .post-date {
    color: #BBBBBB;
    line-height: 20px;
}
.widget .rsswidget img {
    display: none;
}
.widget .rssSummary {
    text-align: justify;
}
.sidebar-widgets #searchform {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sidebar-widgets #searchform input[type="text"] {
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    width: 91%;
}
#searchform input[type="text"] {
    border-radius: 0 0 0 0;
    direction: ltr;
    text-align: left;
}
.rtl #searchform input[type="text"] {
    direction: rtl;
    text-align: right;
}
#wp-calendar {
    width: 100%;
}
#calendar_wrap {
    padding: 0;
}
#wp-calendar caption {
    background-color: #1C1C1C;
    border-bottom: 1px solid #2F2F2F;
    padding: 5px;
}
#wp-calendar tr th {
    background-color: #1C1C1C;
    padding: 5px 0 8px;
    text-align: center;
}
[lang="fa-IR"] #wp-calendar tr th, [lang="ar"] #wp-calendar tr th {
    font: 16px/16px Yekan,tahoma;
}
#wp-calendar td {
    background-color: #404040;
    border-bottom: 1px solid #2E2E2E;
    border-left: 1px solid #2E2E2E;
    font: bold 13px/35px Arial,serif;
    height: 35px;
    padding: 0;
    text-align: center;
}
.rtl #wp-calendar td {
    border-left: medium none;
    border-right: 1px solid #2E2E2E;
}
.rtl #wp-calendar tr td:first-child {
    border-right: medium none;
}
#wp-calendar tr td:first-child {
    border-left: medium none;
}
#wp-calendar td:hover {
    background-color: #4F4F4F;
}
#wp-calendar td.pad {
    background-color: #333333;
}
#wp-calendar td#next, #wp-calendar td#prev {
    padding: 0;
}
#wp-calendar td a {
    border: medium none;
    display: block;
    height: 100%;
}
#wp-calendar td a:hover {
    color: #383837;
}
.sidebar-widgets li.widget ol, .sidebar-widgets li.widget ul {
    list-style: none outside none;
    margin: 0;
}
.sidebar-widgets li.widget > div, .sidebar-widgets li.widget > ul {
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: inline-block;
    padding: 5px 0 10px;
    width: 100%;
}
.tagcloud {
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 94% !important;
}
.tagcloud > a {
    display: inline-block;
    margin: 2px 0;
}
[lang="fa-IR"] .tagcloud > a, [lang="ar"] .tagcloud > a {
    font-family: Yekan,Tahoma,Arial;
}
.sidebar-widgets .widgettitle {
    border-bottom: 4px solid #1F1F1F;
    margin: 0;
}
.rtl .sidebar-widgets .widgettitle {
    font-weight: normal;
    text-align: right;
}
.sidebar-widgets .widgettitle span {
    background-color: #1F1F1F;
    color: #858585;
    line-height: 28px;
    padding: 7px 10px;
}
.rtl .sidebar-widgets .widgettitle span {
    line-height: 30px;
}
.sidebar-widgets [class*="icon-widget"] {
    font-size: 15px;
    margin-right: 5px;
}
.rtl .sidebar-widgets [class*="icon-widget"] {
    margin-left: 5px;
    margin-right: 0;
}
.header-widgets {
    padding-top: 15px !important;
    text-align: center;
}
.header-widgets .widgettitle {
    display: none;
}
.footer {
    margin-top: 50px;
    position: relative;
}
.footer .footer-wraper {
    background-color: #1F1F1F;
    height: 100%;
    padding: 23px 2.28175% 30px;
}
.footer-wraper h1, .footer-wraper h2, .footer-wraper h3, .footer-wraper h4, .footer-wraper h5, .footer-wraper h6 {
    color: #6F6F6F;
}
.footer-wraper .footer-widgets {
    display: inline-block;
}
.footer-wraper ul, .footer-wraper ol {
    list-style: none outside none;
    margin: 0;
}
.footer-widgets > li {
    display: inline-block;
    min-height: 217px;
    overflow: hidden;
    padding: 0 1.9%;
    vertical-align: top;
    width: 28.8925%;
}
.footer-widgets li ul li {
    border-color: #4F4F4F;
}
.rtl .footer-widgets > li {
    float: right;
}
.footer-widgets > li > .widgettitle {
    border-bottom: 2px solid #555555;
    color: #888888;
    padding-bottom: 11px;
}
.rtl .footer-widgets > li > .widgettitle{
	text-align: right;
}
.footer-widgets li #calendar_wrap td {
    width: 38px;
}
.footer .copyright {
    direction: ltr;
    display: block;
    line-height: 22px;
    min-height: 21px;
    padding: 10px 0;
    text-align: center;
}
.footer-widgets #wp-calendar caption {
    background-color: #333333;
}
.footer .scroll-top {
    text-align: center;
    width: 84px;
    margin: auto;
    height: 83px;
    background-color: #1F1F1F;
    border-radius: 49px;
    margin-bottom: -45px;
}
.footer .scroll-top > a {
    border: medium none !important;
}
.footer .scroll-top i.icon-scroll-top {
    border-left: 17px double transparent;
    border-right: 17px double transparent;
    border-style: solid double double;
    border-top: 17px solid transparent;
    border-width: 17px;
    height: 0;
    width: 0;
}
.infinite-scroll #navigation, .infinite-scroll.neverending #footer {
    display: none;
}
.infinity-end.neverending #footer {
    display: block;
}
.infinite-wrap {
    margin-top: 15px;
}
#infinite-handle {
    background: none repeat scroll 0 0 white;
    display: table;
    margin-top: 10px;
    width: 100%;
}
#infinite-handle span {
    color: #1F1F1F !important;
    display: table-cell;
    font: 17px/41px yekan,tahoma !important;
    padding: 0 0 2px !important;
    text-align: center;
}
#infinite-handle span:hover {
    background-color: #1F1F1F !important;
}
.infinite-loader {
    padding: 15px 0;
    position: relative !important;
    z-index: 100;
}
.infinite-loader div {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
}
.infinite-loader div > div > div {
    height: 5px !important;
    width: 15px !important;
}
body .tiled-gallery {
    display: inline-block;
    margin: 0 auto !important;
    width: 100% !important;
}
body .gallery-group {
}
body .gallery-row {
    height: auto !important;
    margin: 0 !important;
    width: 100% !important;
}
body .tiled-gallery .tiled-gallery-item img {
    height: auto !important;
    margin: 0 !important;
    width: 100% !important;
}
.thumbnail-wraper .carousel-inner {
    max-height: 312px;
    min-height: 312px;
    overflow: hidden;
    position: relative !important;
    text-align: center;
    width: 100% !important;
}
.thumbnail-wraper .carousel .post-edit-link {
    display: inline-block;
    font-size: 29px;
    padding: 6px 8px 1px !important;
    position: absolute;
    right: 1%;
    top: 2%;
}
.post-edit-link i {
    color: inherit;
}
.rtl .thumbnail-wraper .carousel .post-edit-link {
    left: 1%;
    right: inherit;
}
.thumbnail-wraper .carousel-inner > .item > .carousel-caption {
    bottom: inherit !important;
    position: absolute;
    text-align: left;
    top: 0;
}
.rtl .thumbnail-wraper .carousel-inner > .item > .carousel-caption {
    text-align: right;
}
.rtl .thumbnail-wraper .carousel-indicators {
    left: inherit;
}
.thumbnail-wraper .carousel-caption h4 {
    color: #9A9A9A;
}
.rtl .thumbnail-wraper .carousel-caption h4, .rtl .thumbnail-wraper .carousel-caption p {
    text-align: right;
}
[lang="fa-IR"] .thumbnail-wraper .carousel-caption h4, [lang="ar"] .thumbnail-wraper .carousel-caption h4 {
    font-family: Yekan,Tahoma,Arial;
}
.thumbnail-wraper .carousel-indicators {
    bottom: 5%;
    left: 2%;
    top: inherit;
}
.thumbnail-wraper .carousel-indicators li {
    text-indent: inherit;
}
.thumbnail-wraper .carousel-indicators li a {
    display: block;
    height: 100%;
    width: 100%;
}
.thumbnail-wraper .carousel-indicators li a:hover {
    border-radius: inherit;
}
.carousel-wrap-controler {
    bottom: 10%;
    direction: ltr;
    position: absolute;
    right: 3%;
    width: 143px;
}
.rtl .carousel-wrap-controler {
    left: 3% !important;
    right: inherit;
}
.carousel-wrap-controler .carousel-controler {
    color: #1F1F1F;
    font-size: 29px;
    line-height: 36px;
    margin-left: -2px;
    opacity: 0.6;
    padding: 8px 13px 6px;
}
.carousel-wrap-controler .pause {
    display: inline-block;
    font-size: 20px !important;
    padding: 8px 14px 0;
}
.carousel-wrap-controler .icon-play {
    padding: 8px 15px 0 !important;
}
.carousel-wrap-controler .carousel-controler:hover {
    border: medium none !important;
    opacity: 1;
}
section.comments-section {
    margin-top: 20px;
    margin-bottom: 20px;
}
section.comments-section .commentlist {
    margin: auto;
    max-width: 98%;
    width: 100%;
}
section.comments-section .comment {
    margin-top: 10px;
}
.comment-list, .children {
    list-style: none outside none;
}
.children .avatar {
    height: auto !important;
    width: 55px !important;
}
.comment-meta {
    height: 72px;
    position: relative !important;
}
#comments > ol.comment-list {
    margin-left: 0;
}
.comment-body {
    display: table;
    width: 100%;
}
.rtl #comments > ol.comment-list {
    margin-right: 0;
}
.pingback .comment-body {
    background-color: white;
}
.comment-metadata {
    background-color: #5F5F5F;
    display: table;
    position: relative;
    width: 100%;
}
.pingback {
    margin-top: 5px;
    max-width: 98%;
    width: 100%;
}
.pingback .comment-body {
    padding: 7px;
}
.rtl .pingback .comment-body {
    direction: ltr;
    text-align: left;
}
.rtl .pingback .comment-body .comment-edit-link {
    float: right;
}
.comment-edit-link {
    color: white;
    float: right;
    line-height: 25px;
    padding: 0 14px;
    right: 0;
}
.comment-metadata time {
    color: #E9E9E9;
    font-size: 12px;
    line-height: 25px;
    padding: 0 7px;
}
.bypostauthor .comment-metadata time {
    color: #1F1F1F;
}
.comment-awaiting-moderation {
    font-size: 11px !important;
    line-height: 19px !important;
    margin-bottom: 0 !important;
    padding: 0 7px;
    position: absolute;
    right: 0;
    top: 74px;
}
.rtl .comment-edit-link {
    float: left;
}
.rtl .comment-awaiting-moderation {
    left: 0;
    right: inherit;
}
.comment-metadata > a {
    color: white;
    font-family: tahoma,sans-serif;
}
.comment-author {
    display: table-cell;
    padding-top: 2px;
    width: 28.1%;
}
.reply {
    background-color: white;
    padding: 10px 15px;
    text-align: right;
}
.rtl .reply {
    text-align: left;
}
.comment-content {
    background-color: white;
    min-height: 119px;
    padding: 28px 2% 20px;
}
.comment-content img {
    max-width: 100% !important;
    width: 100%;
}
.author .comment-content {
    border-top: 3px solid #3ABEC0;
}
.rtl .comment-meta .edit-link {
    right: 103% !important;
}
.comment-author .fn, .comment-author .says {
    display: inline-block;
    margin-bottom: 7px;
    vertical-align: bottom;
}
[lang="fa-IR"] .comment-author .fn, [lang="fa-IR"] .comment-author .says, [lang="ar"] .comment-author .fn, [lang="ar"] .comment-author .says {
    font: 18px/17px Yekan,Tahoma;
}
.comment-author img {
    background-color: #5F5F5F;
    display: inline-block;
    height: 70px !important;
    vertical-align: top;
    width: 70px !important;
}
p.no-comments {
    background-color: #4A4A4A;
    font-size: 16px;
    padding: 0 10px;
}
.comment-form {
    display: table;
    overflow: hidden !important;
    width: 100%;
}
[class*="comment-form-"] {
    display: block;
    position: relative;
    width: 100%;
}
[class*="comment-form-"] input[type="text"], [class*="comment-form-"] input[type="email"], [class*="comment-form-"] input[type="url"], [class*="comment-form-"] textarea {
    border-color: #5F5F5F;
    border-radius: 0 0 0 0;
    display: block;
    max-width: 91%;
    width: 100%;
}
.comment-form-comment textarea {
    border-radius: 0 0 0 0;
    height: 100%;
    width: 100% !important;
}
.comment-form [class*="comment-form-"] label {
    background-color: #5F5F5F;
    border-color: #CCCCCC;
    border-radius: 0 0 0 0;
    color: white;
    padding: 10px 15px 8px;
    position: absolute;
    text-shadow: none;
    top: 0;
    z-index: 10;
}
.rtl .comment-form [class*="comment-form-"] label {
}
.form-allowed-tags {
    width: 93.5%;
}
.form-submit {
    display: table;
    max-width: 94%;
    width: 100%;
}
.form-submit input {
    border: medium none;
    float: right;
}
.rtl .form-submit input {
    float: left;
}
