
.page .content-section, .error404 .content-section {
}
.patlan-navbar .nav li {
    list-style-type: none !important;
}
.patlan-navbar .nav > li li {
    border-top: medium none;
}
.patlan-navbar .nav li:hover, .patlan-navbar .nav li:hover ul {
    background-color: #333333 !important;
}
.rtl .patlan-navbar .nav {
    float: right;
    margin: 0 0 0 10px;
    right: 0;
    z-index: 1000;
}
.rtl .patlan-navbar .nav > li {
    float: right;
}
.patlan-navbar .nav li ul a {
    width: 150px;
}
.patlan-navbar .nav > li > ul ul ul ul ul, .patlan-navbar .nav > li > ul ul ul ul, .patlan-navbar .nav > li > ul ul ul, .patlan-navbar .nav > li > ul ul, .patlan-navbar .nav > li > ul {
    display: none;
}
.patlan-navbar .nav > li > ul ul ul ul > li:hover > ul, .patlan-navbar .nav > li > ul ul ul > li:hover > ul, .patlan-navbar .nav > li > ul ul > li:hover > ul, .patlan-navbar .nav > li > ul > li:hover > ul, .patlan-navbar .nav > li:hover > ul {
    display: block;
}
.patlan-navbar .nav > li ul {
    position: absolute;
    top: 54px;
}
.patlan-navbar .nav > li > ul ul > li:first-child {
    border: medium none;
}
.patlan-navbar .nav > li > ul {
    margin-left: 0;
    z-index: 1000;
}
.patlan-navbar .nav > li > ul ul {
    margin-left: 180px;
}
.patlan-navbar .nav > li > ul ul {
    top: 0 !important;
}
.rtl .patlan-navbar .nav > li > ul ul {
    right: 180px;
}
.rtl .patlan-navbar .nav > li > ul {
    right: 0;
}
.logo, .header-widget {
    padding-left: 20px;
    text-align: left;
}
.rtl .logo, .header-widget {
    padding-left: 0;
    padding-right: 20px;
    text-align: right;
}
.rtl .logo, .rtl .logo h1 {
    text-align: right !important;
}
.patlan-navbar .nav > li {
    border-right: 1px solid #3F3F3F;
}
.rtl .patlan-navbar .nav > li {
    border-left: 1px solid #3F3F3F;
    border-right: medium none;
}
.thumbnail-wraper .carousel-inner {
    min-height: 298px;
}
