
body {
    background: none repeat scroll 0 0 white;
    color: #858585;
}
.rtl {
    direction: rtl;
    font: 13px/20px tahoma;
    text-align: right;
}
* {
    outline: medium none !important;
}
a {
    color: #3ABEC0;
    text-decoration: none;
}
img {
    height: auto;
    max-width: 100%;
}
a:hover, a:focus {
    color: #858585;
}
.rtl ins, .rtl u, .rtl [style*="text-decoration"] {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    text-decoration: none !important;
}
.icon-white {
    color: white;
}
.alignleft {
    margin: 0 15px 15px 0;
}
.alignright {
    margin: 0 0 15px 15px;
}
.aligncenter, .alignnone {
    clear: both;
}
.wp-caption {
    max-width: 99% !important;
}
table td {
    padding: 3px 5px;
}
h1, h2, h3, h4, h5, h6 {
    color: #1F1F1F;
    text-align: left;
}
.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
    font-family: Yekan,Arial;
    text-align: right;
}
h1 {
    font-size: 28px;
    line-height: 33px;
}
h2 {
    font-size: 24px;
    line-height: 28px;
}
h3 {
    font-size: 22px;
    line-height: 30px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 13px;
}
.rtl h6 {
    font-size: 16px;
}
hr {
    clear: both;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    border-style: solid;
    border-width: 4px 1px 1px 4px;
    color: #BBBBBB;
}
.rtl input[class*="span"], .rtl select[class*="span"], .rtl textarea[class*="span"] {
    float: none;
    margin-right: 0;
}
select {
    border-radius: 0 0 0 0;
}
.rtl select {
    font: 13px/16px tahoma,arial;
}
#searchsubmit {
    display: none;
}
input[type="text"], input[type="password"], input[type="url"], input[type="email"], textarea {
    background-color: #F7F7F7;
    height: 38px;
}
input[type="text"]:focus, textarea:focus, input[type="password"]:focus, input[type="url"]:focus, input[type="email"]:focus {
    background-color: #FCFCFC;
    border-color: #AAAAAA;
    box-shadow: none;
    color: #5F5F5F;
}
.add-on {
    padding: 8px 10px !important;
}
.btn {
    padding: 8px 15px;
}
.rtl ul, .rtl ol {
    margin: 0 25px 10px 0;
    padding: 0;
}
.btn-mini {
    padding: 2px 8px;
}
.btn-small {
    padding: 4px 10px;
}
.btn-large {
    padding: 15px 22px;
}
.rtl .btn {
    font-family: Yekan,arial;
}
blockquote {
    background-color: #F9F9F9;
    border-bottom: 1px solid #EEEEEE;
    border-left: medium none;
    border-top: 1px solid #EEEEEE;
    color: #5A5A5A;
    font: 16px/22px Yekan,Arial;
    margin: 10px 0;
    padding: 14px 7%;
    position: relative;
    text-align: justify;
}
blockquote:before, blockquote:after {
    color: #5A5A5A;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 27px;
    position: absolute;
}
blockquote:before {
    content: "";
    left: 2%;
    top: 6px;
}
blockquote:after {
    bottom: 6px;
    content: "";
    left: inherit;
    right: 2%;
}
.rtl blockquote:after {
    content: "";
    left: 2%;
    right: inherit;
}
.rtl blockquote:before {
    content: "";
    right: 2%;
}
blockquote p {
    font: 16px/22px Yekan,Arial;
}
cite {
    border-bottom: 1px dashed #858585;
}
.rtl table th {
    direction: rtl;
    text-align: right;
}
.rtl dl dd {
    margin-left: 40px;
    margin-right: 0;
}
pre, code {
    direction: ltr;
    text-align: left;
}
p code {
    display: inline-block;
    line-height: 22px;
    padding: 0 5px !important;
    white-space: pre-wrap;
}
pre {
    color: #5F5F5F;
    position: relative;
}
q:before, q:after {
    content: "\"";
    font-size: 15px;
    padding: 0 2px;
}
