.gallery {
    display: table-cell;
    width: 100%;
}
.gallery > .gallery-item {
    background-color: #3F3F3F;
    border-right: 1px solid #1F1F1F;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 100% !important;
}
.gallery-item .attachment-thumbnail {
    border: medium none !important;
}
.ie .gallery > .gallery-item {
    width: 1% !important;
}
.gallery > .gallery-item img {
    display: table-cell;
    max-width: inherit !important;
    width: 100% !important;
}

.gallery > .gallery-item > .gallery-caption {
    color: #8F8F8F;
    display: table-cell;
    font: 12px/17px tahoma,arial;
    margin: 0;
    max-width: 1% !important;
    padding: 2% 3%;
    text-align: center;
    width: 100%;
}
.ie .gallery > .gallery-item > .gallery-caption {
    padding-left: 0;
}

.gallery-columns-2 > .gallery-item {
   width: 46.9178% !important;
}
.gallery-columns-3 > .gallery-item {
   width: 31.2785% !important;
}
.gallery-columns-4 > .gallery-item {
   width: 23.4589% !important;
}
.gallery-columns-5 > .gallery-item {
   width: 18.7671% !important;
}
.gallery-columns-6 > .gallery-item {
   width: 15.6393% !important;
}
.gallery-columns-7 > .gallery-item {
   width: 13.4051% !important;
}
.gallery-columns-8 > .gallery-item {
   width: 11.7295% !important;
}
.gallery-columns-9 > .gallery-item {
   width: 10.4262% !important;
}
.gallery br {
    display: table;
}
