body {
    padding: 0 5px !important;
}
.rtl [class*="span"], .rtl .uneditable-input[class*="span"], .rtl .row-fluid [class*="span"] {
    float: none;
    margin-right: 0 ;
}
.ie .post-wrap{
	display: inherit !important;
}
.post-wrap p, .comments-section p {
    font-size: 13px;
    line-height: 20px;
}
h1 {
    font-size: 26px;
    line-height: 27px;
}
h2 {
    font-size: 22px;
    line-height: 25px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}
blockquote {
    padding: 25px 6%;
}
blockquote:after {
    bottom: 5px;
    right: 4%;
}
.rtl blockquote:before {
    right: 5%;
}
blockquote p, blockquote {
    font-size: 15px;
}
.logo, .logo h1 {
    text-align: center;
}
.rtl .patlan-navbar .nav ul {
    direction: rtl;
    margin-left: 0;
}
.patlan-navbar .nav li .icon-chevron-down {
    margin-right: 10px;
}
.rtl .patlan-navbar .nav li .icon-chevron-down {
    margin-left: 10px;
    margin-right: 0;
}
.phone-show {
    display: inherit !important;
    visibility: inherit !important;
}
.logo, .header-widget {
    padding: 0;
}
.pagination {
    margin: 10px 3px !important;
    padding-left: 0 !important;
}
.footer .footer-wraper {
    padding: 20px 0;
}
.footer-widgets > li {
    float: none;
    min-height: 100px;
    padding: 0 3% 20px;
    width: 79%;
}
.footer-widgets > li input, .footer-widgets > li textarea {
    display: table-cell;
    width: 100%;
}

.post-meta ul li div.table-cell {
    border-top: medium none;
}
.post .post-title {
    display: inline-block;
    margin-top: 5px;
    padding-top: 0;
    width: 91%;
}
.patlan-navbar .nav > li {
    border-right: medium none;
    text-align: left;
}
.rtl .patlan-navbar .nav > li {
    text-align: right;
}
.post-content {
    padding-top: 15px;
}
.post-meta {
    border-color: #3ABEC0;
    border-style: solid;
    border-width: 4px 0 0 !important;
    display: table-row !important;
    margin-bottom: 10px;
    width: 100% !important;
}
.post-meta ul {
    display: table-row;
    width: 100%;
}
.post-meta ul li {
    border-right: 1px solid #4B4B4B;
    border-top: 1px solid #4B4B4B;
    display: table-cell !important;
    min-width: 5%;
    padding: 0 2%;
    text-align: center !important;
    vertical-align: middle;
    width: 5%;
}
.post-meta ul li.post-comments span {
    white-space: nowrap;
}
.post-meta ul li > div {
    display: inline-block !important;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.post-meta ul li .post-day {
    font-size: 46px;
    padding-right: 20%;
}
.post-month, .post-year {
    font-size: 17px !important;
    margin-top: -4px;
}
.post-meta ul li > a .column-1 {
    width: 43%;
}
.post-meta ul li > a .column-1 span {
    display: block;
    font-size: 22px;
}
.post-meta ul li > a .column-2 {
    width: 45%;
}
.post-meta ul li i {
    font-size: 30px !important;
    line-height: 67px;
}
.right-arrow, .left-arrow {
    border-color: #1F1F1F transparent transparent transparent ;
    top: 67px;
    left: inherit;
}
.thumbnail-wraper .carousel-inner {
    min-height: 78px;
    max-height: 206px !important;
}
.thumbnail-wraper .carousel-inner > .item > .carousel-caption {
    display: none;
    visibility: hidden;
}
.carousel-wrap-controler{
	width: 130px;
}
.carousel-wrap-controler .carousel-controler {
    font-size: 17px;
    line-height: 27px;
    padding: 8px 12px 6px;
}
.carousel-wrap-controler .pause {
    font-size: 13px !important;
    padding: 5px 13px 0 !important;
}
.carousel-wrap-controler .icon-play {
    padding: 5px 13px 0 !important;
}
.rtl .thumbnail-wraper .carousel-indicators {
    right: 1%;
}
.thumbnail-wraper .carousel-indicators > li {
    float: left;
    margin: 0 2px;
}
.rtl .thumbnail-wraper .carousel-indicators > li {
    float: right;
    margin: 0 2px;
}
.comment-list, .children {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
section.comments-section .commentlist {
    margin: 0 !important;
    max-width: 100%;
}
.comment .avatar {
    height: auto !important;
    width: 50px !important;
}
.comment-author .says {
    display: none;
}

.comment-author b{

}