body {
    padding: 0 2px;
}
.logo, .header-widget {
    padding-left: 20px;
    text-align: left;
}
.rtl .logo, .rtl .logo h1 {
    text-align: right;
}
.rtl .logo, .header-widget {
    padding-left: 0;
    padding-right: 20px;
    text-align: right;
}
.rtl .patlan-navbar .nav ul {
    direction: rtl;
    margin-left: 0;
}
.patlan-navbar .nav li .icon-chevron-down {
    margin-right: 10px;
}
.rtl .patlan-navbar .nav li .icon-chevron-down {
    margin-left: 10px;
    margin-right: 0;
}
.patlan-navbar .nav > li {
    border-right: medium none;
    text-align: left;
}
.rtl .patlan-navbar .nav > li {
    text-align: right;
}
.thumbnail-wraper .carousel-inner {
    min-height: 232px;
    max-height: 298px;
}
