/*
	Theme Name: 	Patlantis
	Theme URI: 		http://demo.khosroblog.com/?themedemo=patlantis
	Author: 		Hadi Khosrojerdi ( هادی خسروجردی )
	Author URI: 	http://khosroblog.com/
	Description: 	A responsive wordpress theme based on Twitter Bootstrap development toolkit with full support for RTL languages, icon fonts ( font awesome ), post formats, beautiful font for persian / arabic languages, 3 places widgets and so more features.
	Version: 		1.0.0
	License: 		GNU General Public License v2 or later
	License URI: 	http://www.gnu.org/licenses/gpl-2.0.html
	Tags: 			light, one-column, two-columns, three-columns, left-sidebar, right-sidebar, flexible-width , custom-menu, editor-style , post-formats, rtl-language-support, sticky-post, translation-ready, full-width-template
	Text Domain: 	patlantis

	This theme, like WordPress, is licensed under the GPL.
*/

@media screen and ( max-width: 767px ) and ( min-width: 480px ){
	body{ 
		padding:0 10px !important;
	}
	.logo, .header-widget{
		padding: 0;
	}
	.logo, .logo h1 {
		text-align: center;
	}
	.patlan-navbar .nav li .icon-chevron-down{
		margin-right: 10px;
	}
	.rtl .patlan-navbar .nav li .icon-chevron-down{
		margin-right:0;
		margin-left: 10px;
	}
	.logo h1, .logo p{
		text-align: center;
	}
	.footer-widgets > li{
		float: none;
		width: 94%;
		min-height: 100px;
		padding: 0 3% 20px;
	}
	.patlan-navbar  .nav > li{
		border-right:medium none;
		text-align: left;
	}
	.rtl .patlan-navbar  .nav > li{
		text-align: right;
	}
	.thumbnail-wraper .carousel-inner {
		max-height: 333px;
		min-height: 201px;
	}
	.rtl [class*="span"], .rtl .uneditable-input[class*="span"], .rtl .row-fluid [class*="span"] {
		float: none;
		margin-right: 0 ;
	}
}
